@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

h2.collapse-cart__title {
  margin: 0 0 20px;
}

.cart-list {
  &__item {
    border-bottom: 1px solid #aaa;
    padding: 20px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
  }

  &__img {
    width: 60px;
    height: 60px;
    display: inline;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 2 0;
    justify-content: space-between;
    margin: 0 0 0 10px;
    align-items: center;
  }

  &__title {
    width: 100%;
    &:first-letter {
      text-transform: uppercase;
    }

    @media (min-width: $medium) {
      width: 80%;
    }
  }

  &__qty {
    > * {
      display: inline-block;
    }

    &--buttons {
      > div {
        width: 10px;
        height: 10px;
        padding: 0;
        cursor: pointer;
        background: #eee;
        text-align: center;
        font-size: 13px;

        &.plusSign {
          line-height: 0.8em;
          margin-bottom: 1px;
        }
        &.minusSign {
          line-height: 0.6em;
        }
      }
    }
  }

  &__price {
    display: inline;
    font-size: 1em;
    text-align: right;
  }

  &__total-cost {
    text-align: right;
    font-size: 0.9em;
    margin: 10px 15px 20px;
  }
}

.no-items-info {
  color: #aaa;
  text-align: center;
  margin: 20px 0 40px;
}

.collapse-cart {
  width: 100%;
  padding-right: 10px;

  &__content {
    overflow: hidden;
  }

  .cart-button {
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    font-weight: 700;
    color: $font-color;
    background: $gray-light;
    box-shadow:inset 0 0 0 3px $gray;
    padding: 15px;
    cursor: pointer;
    transition: .4s;

    &:hover {
      background: $gray;
    }
  }
}

